#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	cd web && \
	yarnpkg install --frozen-lockfile && \
	INLINE_RUNTIME_CHUNK=false yarnpkg build
	rm -rf internal/server/public_html
	mv web/build internal/server/public_html
	cp -R api internal/server/public_html/
	go build -ldflags '-w' -trimpath -o authelia cmd/authelia/*.go

override_dh_auto_install:
	install -Dm04755 "authelia" "debian/authelia/usr/bin/authelia"
	install -Dm04755 "authelia.service" "debian/authelia/usr/lib/systemd/system/authelia.service"
	install -Dm04755 "config.template.yml" "debian/authelia/etc/authelia/configuration.yml"
